.venv/
venv/
__pycache__/
*.py[cod]
*$py.class
.env
.pytest_cache/

dataset/
runs/
train/
val/
my_face_project/
 올립니다.
*.pt
!best.pt


build/
bin/
.arduinoIDE/
libraries/
*.elf
*.bin
*.hex
*.out
*.map

.DS_Store
.vscode/
.idea/
*.swp
*~